<div class="logo-upload mb-3">
  <div >

    <div class="logo-upload-placeholder">
      <div class="logo-box" *ngIf="displayUrl">
        <img src="{{displayUrl}}" />
      </div>
    </div>
    <h2>{{ company?.name }}</h2>
    <div class="logo-controls">
      <label class="upload-label">
        {{'SHARED.COMPONENTS.UPLOAD_NEW_LOGO'|translate }}
        <input type="file" id="logo-upload" ng2FileSelect [uploader]="logoUploader" />
      </label>
      <a (click)="deleteLogo()" class="rm" translate="BUTTONS.REMOVE_LOGO">Remove logo</a>
    </div>
  </div>
  <progress *ngIf="logoUploaderFile" class="progress progress-striped progress-animated" max="100" [value]="logoUploaderProgress">
    <span style="color:white; white-space:nowrap;">{{logoUploaderProgress}}%</span>
  </progress>
</div>

<form [formGroup]="adminForm" (submit)="update()" autocomplete="off">
  <div class="form-group v3">
    <input class="form-control" formControlName="email"  id="email" type="email">
    <label for="email" translate="CONTROLS.INVOICE_EMAIL">Invoice Email</label>
  </div>
  <div class="form-group v3">
    <input class="form-control" formControlName="phone"  id="phone" type="text">
    <label for="phone" translate="CONTROLS.PHONE">Phone</label>
  </div>
  <div class="form-group v3">
    <input class="form-control" formControlName="floor"  id="floor" type="text" >
    <label for="floor" translate="CONTROLS.FLOOR">Floor</label>
  </div>
  <div class="form-group v3">
    <input class="form-control" formControlName="zipCode"  id="zip-code" type="text">
    <label for="zip-code" translate="CONTROLS.ZIP_CODE">Zip Code</label>
  </div>
  <div class="form-group v3">
    <input class="form-control" formControlName="address"  id="address" type="text">
    <label for="address" translate="CONTROLS.ADDRESS">Address</label>
  </div>
  <div class="form-group v3">
    <input class="form-control" formControlName="address2"  id="address2" type="text">
    <label for="address2" translate="CONTROLS.ADDRESS2">Address 2</label>
  </div>
  <div class="form-group v3">
    <input class="form-control" formControlName="bankAccount"  id="bank-account" type="text">
    <label for="bank-account" translate="CONTROLS.BANK_ACCOUNT">Bank Account</label>
  </div>
  <br>

  <div class="form-group v3">
    <div class="left">
      <h3>Payment</h3>
      <div class="text-grey mb-2" *ngIf="!company.credit_card" translate="CONTROLS.NO_PAYMENT">No payment info</div>
      <div class="text-grey mb-2" *ngIf="company.credit_card"> {{ company.credit_card.masked_pan }}</div>
    </div>
    <div class="right">
      <button (click)="editCard()" class="btn btn-big btn-white btn-block">
        &nbsp;&nbsp;&nbsp;{{cardButton()}}&nbsp;&nbsp;&nbsp;
      </button>
    </div>
  </div>

  <div *ngIf="!company.credit_card && false" class="form-group v3">
    <div class="left">
      <h3 translate="CONTROLS.PAYPAL">Paypal</h3>
      <div class="text-grey" *ngIf="!company.paypal" translate="CONTROLS.NO_PAYPAL">No paypal info</div>
      <div class="text-grey" *ngIf="company.paypal"> {{ company.paypal.email }}</div>
    </div>
    <div *ngIf="!company.paypal" class="right">
      <button (click)="editPaypal()" class="btn btn-big btn-white btn-block">
        &nbsp;&nbsp;&nbsp;{{cardButton()}}&nbsp;&nbsp;&nbsp;
      </button>
    </div>
  </div>


  <div class="mt-2">
    <button type="submit" class="btn btn-big btn-green btn-block" [disabled]="!adminForm.valid" translate="BUTTONS.SUBMIT">Submit</button>
  </div>
</form>
