<ng-container *ngIf="editMode">
  <user-menu>
    <div *ngIf="!readOnly" class="user-menu-links">
      <a (click)="sendMesssage.open(service, id, 'Kitchen')">
        <span translate="BUTTONS.SEND_MESSAGE"></span>
      </a>
      <a (click)="toggleDiscountPopup()">
        <span translate="ADMIN.KITCHEN.BUTTONS.SET_INTEREST"></span>
      </a>
      <a (click)="generateInvoice.open(service, id)">
        <span translate="BUTTONS.GENERATE_INVOICE"></span>
      </a>
      <a (click)="becomeKitchen(id)">
        <span translate="BUTTONS.BECOME"></span>
      </a>
    </div>
  </user-menu>

  <send-message #sendMesssage></send-message>
  <generate-invoice #generateInvoice></generate-invoice>
</ng-container>

<div class="admin-kitchens">
  <div class="i">
    <main>
      <form [formGroup]="form" (submit)="submitForm()">
        <div class="main-inner">
          <div class="heading">
            <h2 translate="SHARED.KITCHENS.SINGULAR">Kitchen</h2>
            <div class="heading-img">
              <div class="img"><img [src]="imageDisplayUrl" alt="" *ngIf="imageDisplayUrl"></div>
              <div *ngIf="!readOnly">
                <div class="upload">
                  <input type="file" (change)="fileChange($event)" id="image" #file/>
                  <label for="image">
                    {{ 'SHARED.COMPONENTS.UPLOAD_NEW_LOGO' | translate }}
                  </label>
                </div>
                <div (click)="deleteImage()" *ngIf="imageDisplayUrl" class="remove">{{ 'BUTTONS.REMOVE_LOGO' | translate }}</div>
              </div>
            </div>
          </div>
          <div>
            <div class="row mb-2">
              <div class="col-md-4">
                <div class="form-group v3">
                  <input formControlName="name" class="form-control" [readonly]="readOnly">
                  <label translate="CONTROLS.NAME">Name</label>
                  <div class="alert alert-danger" *ngIf="form.get('name').touched && form.get('name').hasError('required')">
                    {{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.NAME' | translate } }}
                  </div>
                </div>
                <div class="form-group v3">
                  <input type="email" formControlName="email" class="form-control" [readonly]="readOnly">
                  <label translate="CONTROLS.EMAIL">Email</label>
                  <div class="alert alert-danger" *ngIf="form.get('email').touched && form.get('email').invalid">
                    <div *ngIf="form.get('email').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.EMAIL' | translate } }}</div>
                    <div *ngIf="form.get('email').hasError('invalidEmailAddress')" translate="CONTROLS.ERRORS.INCORRECT.EMAIL">Email is incorrect</div>
                  </div>
                </div>
                <div class="form-group v3">
                  <input class="form-control" formControlName="phone" [readonly]="readOnly">
                  <label translate="CONTROLS.PHONE">Phone</label>
                  <div class="alert alert-danger" *ngIf="form.get('phone').touched && form.get('phone').invalid">
                    <div *ngIf="form.get('phone').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.PHONE' | translate } }}</div>
                  </div>
                </div>
                <div class="form-group v3">
                  <input class="form-control" formControlName="headChefName" [readonly]="readOnly">
                  <label translate="CONTROLS.HEAD_CHEF_NAME">Head Chef Name</label>
                  <div class="alert alert-danger" *ngIf="form.get('headChefName').touched && form.get('headChefName').invalid && form.get('headChefName').hasError('required')">
                    {{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.HEAD_CHEF_NAME' | translate } }}
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group v3">
                  <input class="form-control" formControlName="country" [readonly]="readOnly">
                  <label translate="CONTROLS.COUNTRY">Country</label>
                  <div class="alert alert-danger" *ngIf="form.get('country').touched && form.get('country').invalid">
                    <div *ngIf="form.get('country').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.COUNTRY' | translate } }}</div>
                  </div>
                </div>
                <div class="form-group v3">
                  <input class="form-control" formControlName="city" [readonly]="readOnly">
                  <label translate="CONTROLS.CITY">City</label>
                  <div class="alert alert-danger" *ngIf="form.get('city').touched && form.get('city').invalid">
                    <div *ngIf="form.get('city').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.CITY' | translate } }}</div>
                  </div>
                </div>
                <div class="form-group v3">
                  <input class="form-control" formControlName="address" [readonly]="readOnly">
                  <label translate="CONTROLS.ADDRESS">Address</label>
                  <div class="alert alert-danger" *ngIf="form.get('address').touched && form.get('address').invalid">
                    <div *ngIf="form.get('address').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.ADDRESS' | translate } }}</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-8 form-group v3">
                    <input class="form-control" formControlName="address2" [readonly]="readOnly">
                    <label translate="CONTROLS.ADDRESS2">Address 2</label>
                    <div class="alert alert-danger" *ngIf="form.get('address2').touched && form.get('address2').invalid">
                      <div *ngIf="form.get('address2').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.ADDRESS2' | translate } }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group v3">
                    <input class="form-control" formControlName="zipCode" required [readonly]="readOnly">
                    <label translate="CONTROLS.ZIP_CODE">Zip code</label>
                    <div class="alert alert-danger" *ngIf="form.get('zipCode').touched && form.get('zipCode').invalid">
                      <div *ngIf="form.get('zipCode').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.ZIP_CODE' | translate } }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div>
                  <div class="form-group v3">
                    <input class="form-control" formControlName="bankAccount" [readonly]="readOnly">
                    <label translate="CONTROLS.BANK_ACCOUNT">Bank account</label>
                    <div class="alert alert-danger" *ngIf="form.get('bankAccount').touched && form.get('bankAccount').invalid">
                      <div *ngIf="form.get('bankAccount').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.BANK_ACCOUNT' | translate } }}</div>
                    </div>
                  </div>
                  <div class="form-group v3">
                    <input class="form-control" formControlName="vatNumber" [readonly]="readOnly">
                    <label translate="CONTROLS.VAT_NUMBER">VAT number</label>
                    <div class="alert alert-danger" *ngIf="form.get('vatNumber').touched && form.get('vatNumber').invalid">
                      <div *ngIf="form.get('phone').hasError('required')">{{ 'CONTROLS.ERRORS.REQUIRED.MESSAGE'| translate: { field: 'CONTROLS.VAT_NUMBER' | translate } }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let ak of kitchen.accountsKitchens">
              <div *ngIf="ak.active">
                <div class="heading">
                  <div class="heading-i">
                    <h2 *ngIf="!displayCurrentAccountTitle">{{ 'SUBSCRIPTIONS.SINGULAR' | translate }}</h2>
                    <div *ngIf="displayCurrentAccountTitle">
                      <h2>{{ ak.name }}</h2>
                      <div class="text-grey" *ngIf="ak.default"> {{ 'ADMIN.KITCHEN.DEFAULT_REGION' | translate }}</div>
                    </div>
                    <div class="heading-switcher">
                      <div class="custom-checkbox">
                        <label>
                          <input type="checkbox" (change)="toggleCatering(ak.accountId, $event)" [checked]="cateringForAccount(ak)" [disabled]="readOnly && !ak.own">
                          <i class="fa fa-check-circle"></i>
                          <span class="txt">{{ 'SUBSCRIPTIONS.CATERING' | translate }}</span> &nbsp;&nbsp;&nbsp;
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!ak.default"><a (click)="removeAccount(ak)">{{ 'ADMIN.KITCHEN.BUTTONS.REMOVE_REGION' | translate}}</a></div>
                <div class="row mb-3">
                  <div *ngFor="let sub of subscriptionsForAccount(ak)" class="col-md-4">
                    <subscription-component [subscription]="sub" [title]="subscriptionTitle(sub)" [categories]="categories" [readOnly]="readOnly && !ak.own"></subscription-component>
                  </div>
                </div>
              </div>
            </div>

            <div class="heading">
              <h2 *ngIf="!readOnly">
                <a (click)="toggleRegionsPopup()">{{ 'ADMIN.KITCHEN.BUTTONS.ADD_REGION' | translate}}</a>
              </h2>
            </div>
          </div>
        </div>
        <footer class="main-footer">
          <button class="btn btn-big btn-green" type="submit">&nbsp;&nbsp;&nbsp;{{ 'BUTTONS.SAVE' | translate }}&nbsp;&nbsp;&nbsp;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a [routerLink]="backLink">{{ 'ADMIN.KITCHEN.BUTTONS.BACK_TO_THE_LIST' | translate}}</a>
          <div *ngIf="!readOnly" class="right">
            <switch-checkbox class="text-center" formControlName="active">{{ (form.get('active').value ? "SHARED.STATES.ACTIVE" : "SHARED.STATES.INACTIVE") | translate }}
            </switch-checkbox>
          </div>
        </footer>

      </form>
    </main>
    <aside>
      <div class="aside-i">
        <kitchen-categories-list (onCategoriesLoaded)="setCategories($event)"></kitchen-categories-list>
      </div>
    </aside>
  </div>
</div>

<kitchen-interest-discount [(show)]="showDiscount" [kitchenId]="id"></kitchen-interest-discount>


<div *ngIf="!readOnly && showRegionsPopup" class="region-popup-wrap popup-wrap">
  <div class="region-popup popup ordered" tabindex="1" (keyup.esc)="closeRegionsPopup($event)" (clickOutside)="closeRegionsPopup($event)" (setFocus)="true">
    <div class="region-popup-body popup-body">
      <div *ngFor="let account of availableAccountsPopup()" class="region-item" (click)="addAccount(account.id)">
        <span>{{account.name}}</span>
      </div>
    </div>
    <footer><a (click)="toggleRegionsPopup()" translate="BUTTONS.CLOSE">Close</a></footer>
  </div>
</div>
