@import '~assets/css/conf';

.month-select{
  header{
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-light3;

    .year{font-size: 16px}
  }
  .months{
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    .day{
      flex: 0 0 33.3333%;
      text-align: center;
      text-decoration: underline;
      line-height: 43px;
      cursor: pointer;

      &.disabled{
        color: $gray-text;
        text-decoration: none;
        cursor: default;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.generate-invoice{
  min-height: 305px;


  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.invoice-links{
  text-align: center;
  .fa-file-pdf-o{
    font-size: 100px;
    color: $main-green;
  }
  .invoice-links-txt{
    margin-top: 30px;

    >div{
      margin-bottom: 10px;
    }
    a{
      font-size: 16px;
      color: $gray-dark;
    }
  }
}
