@import '~assets/css/conf';

.menu-hero{
  height: 500px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;
  .show-on-mobile{
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    height: 180px;
    left: 0;
    right: 0;
    top: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  }
}
.location-selector-wrap{
  text-align: center;
  position: relative;
  z-index: 3;
}
.location-selector{
  padding: 0 46px;
  margin-top: 50px;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  height: 200px;
  cursor: pointer;
  line-height: 1.2;
  background: rgba(74, 74, 74, .85);
  transition: all 0.2s ease-in-out;
  .city{
    color: white;
    font-size: 54px;
    position: relative;

    .fa-chevron-down{
      font-size: 12px;
      margin-right: -21px;
    }
  }
  .country{
    color: $gray-text;
    font-size: 24px;
  }
  &:hover{
    background: rgba(74, 74, 74, .9);
    box-shadow: 0px 10px 20px 0px rgba(74, 74, 74, .3);
  }
}
.menu-section{
  background: #f9f5f0;
}
.subscription-nav{
  height: 140px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .item{
    font-size: 18px;
    font-family: $font-bold;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: $gray-text;
    &.active{
      color: $gray-dark;
      cursor: default;
    }
    +.item{
      margin-left: 20px;
    }
    &.active {
      color: $black
    }
  }
}

.menu-items{
  max-width: 990px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.menu-item{
  height: 400px;
  margin-bottom: 30px;
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  .active & {
    z-index: 3; // in order to be higher than overlay
  }
  &.reverse{
    flex-direction: row-reverse; // to swap image and info
  }
}
.menu-item-info{
  flex-basis: 300px;
  max-width: 300px;
  padding: 30px 40px;
  .info-i{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .bottom{
      margin-top: auto;
    }
  }
  .kitchen-name{
    font-size: 20px;
    margin-bottom: 5px;
    color: $gray-text;
    font-family: $font-bold;
  }
  .dish-name{
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1;
    font-family: $font-bold;
  }
  .descr{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.2;
    color: #a29b9b;
  }
  .price{
    margin-top: 20px;
    font-size: 30px;
    color: $main-green;
  }
}
.menu-item-top-img{
  width: 190px;
  height: 190px;
  @include border-radius(50%);
  display: none;
}
.menu-item-img{
  flex: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-text{
    color: #fff;
    margin: 0;
    font-size: 60px;
    font-family: $font-bold;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 1px 3px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 90%;
    padding: 20px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .deadline-passed-overlay{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($gray-dark, .8);
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    .fa-lock{
      font-size: 140px;
    }
  }
  &.periodic{
    &:before{
      content: "";
      width: 101px;
      height: 101px;
      background: url($icons) -2px -299px no-repeat;
      position: absolute;
      right: 0;
      top: 0;
    }

    .reverse &{
      &:before{
        left: 0;
        background: url($icons) 0 -504px no-repeat;
      }
    }
  }

  &.deadline-passed{
    .deadline-passed-overlay{
      visibility: visible;
    }
  }
}
.allergy-tag{
  padding: 3px 25px 1px;
  line-height: 39px;
  background: $purple;
  color: #fff;
  display: inline-block;
  @include border-radius(2px);
}
.allergies{
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  white-space: nowrap;
  user-select: none;
  .allergy-tag{margin: 5px;}
}
.ammount-control{
  margin: 20px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;

  .btn-ammount{
    font: 100 30px/1 Helvetica, sans-serif;
    width: 50px;
    height: 50px;
    min-width: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    background: $main-green;
    color: white;
    @include border-radius(50%);
    span{
      line-height: 1;
      position: absolute;

      &.plus{top: 8px;left: 15px;}
      &.minus{top: 8px;left: 21px;}
    }
    &:disabled{
      background: #f3f3f3;
      color: #a29b9b;

      + span{
        color: #c1c1c1;
      }
    }
  }
}
.red {color: $red;}
.allergy-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background: #de4a39;
  @include border-radius(50%);

  .allergy-img{
    height: 100%;
    filter: invert(100%);
    background-position: 50%;
    background-size: 96%;
    background-repeat: no-repeat;
  }

  .allergy-title{
    width: 74px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: none;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    background: $gray-dark;
    border-radius: 3px;
    top: -60px;
    box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.5);
    .text-grey{
      font-size: 12px;
    }
    strong{
      color: white;
    }

    &:after{
      content: "";
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translate(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $gray-dark transparent transparent transparent;
    }
  }
  &:hover{
    .allergy-title{
      display: block;
    }
  }
}


// ******* RESPONSIVE STYLES *******


@media (max-width: 767px){
  .menu-hero:after{height: 300px}
  .menu-item{
    height: auto;
    flex-direction: column-reverse;
    &.reverse{
      flex-direction: column-reverse;
    }
    .menu-item-img{
      flex-basis: 300px;
      min-height: 300px;
      align-items: flex-start;
      justify-content: flex-start;
      .image-text{margin-top: 10px;}
    }
    .menu-item-info{
      flex-basis: initial;
      max-width: initial;
    }
    .image-text{
      font-size: 40px;
      text-align: left;
    }
  }
}

@media (max-width: 480px){
  .menu-item{
    .image-text{
      font-size: 0px;
      text-align: left;
    }
  }
}
