[class^='icon-']{
  background-image: url($icons);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.icon-menu{
  background-position: 0 0;
  width: 43px;
  height: 43px;
}
.icon-menu-close{
  background-position: -45px 0;
  width: 43px;
  height: 43px;
}
.icon-back{
  background-position: -45px -47px;
  width: 43px;
  height: 43px;
}
.icon-calendar{
  background-position: 0 -47px;
  width: 31px;
  height: 36px;
}
.icon-prev{
  background-position: 0 -87px;
  width: 36px;
  height: 36px;
}
.icon-next{
  background-position: 0 -128px;
  width: 36px;
  height: 36px;
}
.icon-close{
  background-position: 0 -169px;
  width: 32px;
  height: 32px;

}
.icon-check{
  background-position: 0 -206px;
  width: 22px;
  height: 22px;
}
.icon-checked{
  background-position: 0 -233px;
  width: 22px;
  height: 22px;
}
.icon-periodic{
  background-position: 0 -260px;
  width: 18px;
  height: 18px;
}
.icon-periodic-triangle{
  background-position: -2px -299px;
  width: 101px;
  height: 101px;
}
.icon-lock{
  background-position: 0 -282px;
  width: 9px;
  height: 14px;
}
.icon-periodic-big{
  background-position: 0 -403px;
  width: 29px;
  height: 29px;
}
.icon-custom{
  background-position: -26px -260px;
  width: 18px;
  height: 18px;
}
.icon-custom-big{
  background-position: 0 -437px;
  width: 29px;
  height: 29px;
}

