@import 'variables';
@import 'mixins';
@import 'bootstrap-overrides';

$sidebar-width: 342px;
$header-height: 60px;

.absolute-overlay{
  overflow: hidden;
  max-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  body{
    overflow: hidden;
    max-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.al-top {
  height: $header-height;
  background-color: $gray-light;
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;

  .navbar {
    height: $header-height;
    margin-left: $sidebar-width;
    background-color: $gray-light;
    padding-right: 20px;
    padding-left: 20px;

    .heading-selector {
      position: relative;

      li a {
        font-size: 20px;
      }
    }

    .info {
      line-height: 45px;
      float: right;

      > span {
        color: $gray-text;
      }

      > a {
        margin-left: 15px;
      }
    }

    .user-menu-links {
      display: inline-block;
      vertical-align: middle;
      line-height: 45px;
      > a {
        color: $gray-dark;
        + a {
          margin-left: 15px;
        }
      }
      > span + span {
        margin-left: 15px;
      }
    }
  }

  .top-nav {
    margin-top: 12px;
  }
}

.al-sidebar {
  width: $sidebar-width;
  top: 0;
  left: 0;
  display: block;
  min-height: 100%;
  background-color: $gray-dark;
  height: 100%;
  position: fixed;
  z-index: 1031;
  overflow-y: auto;

  .al-sidebar-i {
    padding-top: $header-height;

    .al-sidebar-heading {
      width: $sidebar-width;
      height: $header-height;
      background-color: $gray-dark;
      position: fixed;
      top: 0;
      z-index: 3;

      .logo {
        margin: 0 30px;
        line-height: 60px;
        display: inline-block;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  footer{
    border-top: 1px solid #777;
    padding-top: 30px;
    margin: 0 30px;
    position: relative;
  }
}

.aside-mobile-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-left: 20px;
  display: none;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  .txt{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    display: none;
  }
  .hamburger-icon{
    display: none;
  }
  @media (max-width: $mobile) {
    .toggle-aside-icon{
      display: inline-block;
    }
    .is-open &{
      background: $gray-dark;
      .toggle-aside-icon{
        display: none;
      }
      .hamburger-icon{
        display: inline-block;
      }
      .txt{
        display: inline-block;
      }

    }
  }
}

.al-sidebar-image {
  padding: 30px 30px 20px;

  .logo-upload-placeholder {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    max-width: 100%;
  }
}

.al-main {
  margin-left: $sidebar-width;
  padding: $header-height 0 0;
  min-height: 500px;
  position: relative;

  .al-main {
    margin-left: 0;
  }
}

// Kitchen ratings layout
.kitchen-aside {
  float: right;
  margin-right: -40px;
  min-height: 1px;
  width: 342px;

  .kitchen-aside-i {
    width: 342px;
    position: fixed;
    top: $header-height;
    bottom: 0;
    background: $gray-light3;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px;
  }
}

.kitchen-main {
  overflow: hidden;
  padding-right: 50px;
}

// Style for HEADING (move to separate component)
user-menu .heading {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.heading {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 16px;

  &.space-between {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &:before,
    &:after {
      display: none;
    }
  }

  h2,
  h4 {
    display: inline-block;
    margin: 0;
  }

  .title {
    font-size: 18px;
    margin-right: 60px;
    display: inline-block;
    vertical-align: middle;
    font-family: $font-bold;
  }

  .heading-selector {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    li {
      color: $gray-text;
      cursor: pointer;
      display: inline-block;
      margin-right: 20px;
      font-size: 18px;

      a {
        color: $gray-text;
        text-transform: uppercase;
        text-decoration: none;

        &.router-link-active {
          color: $gray-dark;
          cursor: default;
          font-family: $font-bold;
        }
      }

      &.router-link-active {
        color: $gray-dark;
        cursor: default;
        font-family: $font-bold;
      }
    }
  }

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.gray-block {
  background: $gray-light2;
  padding: 40px;
}

.two-col-form {
  max-width: 760px;
}

.sidebar-list-icon {
  $icon-url: '/assets/images/sidebar-icons/';

  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 30px;
  display: none;
  background-image: url('#{$icon-url}ic_dashboard.svg');
  background-repeat: no-repeat;
  background-position: center;

  &.dashboard-icon {
    background-image: url('#{$icon-url}ic_dashboard.svg')
  }
  &.logistics-icon {
    background-image: url('#{$icon-url}ic_logistics.svg')
  }
  &.menu-icon {
    background-image: url('#{$icon-url}ic_side_menu.svg')
  }
  &.report-icon {
    background-image: url('#{$icon-url}ic_report.svg')
  }
  &.settings-icon {
    background-image: url('#{$icon-url}ic_settings.svg')
  }
  &.company-orders-icon {
    background-image: url('#{$icon-url}ic_company_orders.svg')
  }
  &.delivery-expenses-icon {
    background-image: url('#{$icon-url}ic_delivery_expenses.svg')
  }
  &.employees-orders-icon {
    background-image: url('#{$icon-url}ic_employees_orders.svg')
  }
  &.companies-list-icon {
    background-image: url('#{$icon-url}ic_companies_list.svg')
  }
  &.kitchens-list-icon {
    background-image: url('#{$icon-url}ic_kitchens_list.svg')
  }
  &.kitchens-orders-icon {
    background-image: url('#{$icon-url}ic_kitchens_orders.svg')
  }
}

.hamburger-icon {
  padding: 21px 30px;
  display: none;
  user-select: none;
  cursor: pointer;
  background: $gray-dark;
  > span {
    width: 20px;
    height: 17px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    > i {
      height: 1px;
      background: $gray-text;
    }
  }
  &.is-open {
    > span > i {
      width: 20px;
      position: absolute;

      &:nth-child(1) {
        top: 8px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: 8px;
        transform: rotate(-45deg);
      }
    }
  }
}

.toggle-aside-icon {
  padding: 20px;
  user-select: none;
  display: none;
  float: right;
  position: relative;
  z-index: 1031;
  text-decoration: underline;

  .fa{
    font-size: 19px;
  }
}

.aside-mobile-header,
.al-sidebar-heading {
  .hamburger-icon > span > i {
    background: $gray-text;
  }
}
.al-top .hamburger-icon{
  display: none;
}

.al-top .toggle-aside-icon,
.al-top .hamburger-icon {
  position: relative;
  z-index: 1031;
}
.mobile-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.3);
  display: none;
  z-index: 6;
}
.user-controls-mobile-wrap{
  display: none;
}
@media (max-width: $laptop) {
  .al-top .navbar {
    margin-left: 230px;
    .heading-selector li a{
      font-size: 16px;
    }
  }
  .al-sidebar-image {
    padding: 30px 20px 20px;
  }
  .al-sidebar {
    width: 230px;
    footer{
      margin: 0 20px;
    }
    .al-sidebar-i {
      .al-sidebar-heading {
        width: 230px;

        .logo {
          margin: 0 20px;
        }
      }
    }

    .al-sidebar-list li {
      a {
        font-size: 15px;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .al-main {
    margin-left: 230px;
  }
}

@media (max-width: $laptop-sm) {
  .al-sidebar {
    overflow: hidden;
    width: 80px;
    .al-sidebar-i {
      height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      .al-sidebar-heading {
        width: 80px;
        .logo {
          display: none;
          margin-left: -10px;
        }
      }
    }
    .al-sidebar-list {
      li a {
        min-height: 40px;
        padding-left: 70px;
        font-size: 18px;

        .sidebar-list-icon {
          opacity: .5;
        }
        &:hover,
        &.router-link-active {
          .sidebar-list-icon {
            opacity: 1;
          }
        }
      }
    }
  }

  .hamburger-icon {
    display: inline-block;
    vertical-align: top;
  }
  .sidebar-list-icon {
    display: block;
  }
  .al-top .navbar {
    margin-left: 80px;
    .heading-selector li{
      margin-right: 7px;
      a{
        font-size: 14px;
      }
    }
  }
  .sidebar-list-txt {
    display: none;
  }
  .al-sidebar-image {
    padding: 38px 28px 20px;

    .logo-upload-placeholder {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
    }
    img {
      max-width: 100%;
    }
  }
  .al-main {
    margin-left: 80px;
  }
  .admin-info-txt {
    display: none;
  }
  //OPENED SIDEBAR
  .is-open.al-sidebar {
    overflow: visible;
    .al-sidebar-image {
      padding: 38px 28px 20px;

      .logo-upload-placeholder {
        width: 110px;
        height: 110px;
      }
    }
    .al-sidebar-i {
      width: $sidebar-width;
      position: absolute;
      background: transparentize($gray-dark, .1);

      .al-sidebar-heading {
        width: $sidebar-width;
        .logo {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    .sidebar-list-txt {
      display: inline-block;
    }

    .admin-info-txt {
      display: block;
    }
  }
}

@media (max-width: $mobile) {
  .mobile-overlay.is-open{
    display: block;
  }
  .aside-mobile-header{
    display: flex;
  }

  .al-top .hamburger-icon {
    display: inline-block;
  }

  .hamburger-icon {
    padding: 21px 20px;
  }
  .sidebar-list-icon {
    left: 20px;
  }
  .al-top .navbar .info {
    display: none;
  }
  .mobile-navbar {
    display: flex;

    .mobile-navbar-toggle {
      display: flex;
    }
  }

  .al-top {
    left: 0;
    background-color: $gray-dark2;

    .navbar {
      margin-left: 0;
      .heading {
        margin-left: 55px;
      }
      .heading-selector {
        white-space: normal;
        line-height: 1;
      }
    }
  }

  .al-main {
    margin-left: 0;
    min-height: 0;
    padding-bottom: 20px;
  }

  .al-sidebar {
    margin-top: 60px;
    right: 0;
    width: auto;
    height: auto;
    min-height: 0;
    display: none;

    .al-sidebar-i {
      height: calc(100vh - 60px);
      padding-top: 0;
      .al-sidebar-list {
        margin-bottom: 20px;
        li a {
          min-height: 40px;
          padding-left: 60px;
        }
      }
    }

    .al-sidebar-image-wrap{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      margin: 0 20px 50px;
      border-bottom: 1px solid #777;
      .user-controls-mobile {
        line-height: 1.3;
        color: white;
        > a {
          color: $gray-text;
          display: block;
        }
      }
    }

    &.is-open {
      display: block;
      max-height: 100%;

      .al-sidebar-i{
        width: 318px;
        .al-sidebar-heading{
          width: 318px;
        }
      }

      .al-sidebar-image {
        padding: 0;

        .logo-upload-placeholder{
          width: 50px;
          height: 50px;
        }
      }
    }
  }

}

.heading-selector-mobile{
  position: relative;
  margin-top: -10px;
  height: 40px;
  line-height: 40px;
  padding-right: 15px;
  &:before{
    content: "";
    position: absolute;
    height: 1px;
    bottom: 8px;
    left: 0;
    right: 0;
    background: #9b9b9b;
  }
  &:after{
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 13px;
    right: 0;
  }
  select{
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    font-family: $font-bold;
    border: none;
    border-radius: 0;
  }
}
