<div class="pagination-wrap">
  <pagination-controls (pageChange)="pageChange($event)"
                       [id]="id"
                       [directionLinks]="directionLinks"
                       [previousLabel]="'SHARED.COMPONENTS.PAGINATION.PREVIOUS_LABEL'|translate"
                       [nextLabel]="'SHARED.COMPONENTS.PAGINATION.NEXT_LABEL'|translate"
                       [screenReaderPageLabel]="'SHARED.COMPONENTS.PAGINATION.PAGE_LABEL'|translate"
                       [screenReaderCurrentLabel]="'SHARED.COMPONENTS.PAGINATION.CURRENT_LABEL'|translate"
                       [screenReaderPaginationLabel]="'SHARED.COMPONENTS.PAGINATION.LABEL'|translate">
  </pagination-controls>
</div>
