<div class="deadlines" *ngFor="let subscription of subscriptions">
  <section *ngFor="let regionalDeadlines of deadlines[subscription.subscription_type]; let $region = index">
    <div *ngIf="regionalDeadlines?.length > 0">
      <header>
        <h2>{{ regionalDeadlines[0]?.account_name }} {{ ('SUBSCRIPTIONS.' + subscription.subscription_type|uppercase)|translate| upperFirst }}</h2>
      </header>
      <div class="deadlines-row">
        <div class="deadlines-col" *ngFor="let deadline of regionalDeadlines; let $index = index">
          <div class="deadlines-item" (click)="form.show(deadline, weekDays[$index])">
            <div class="title">
              {{weekDays[$index] | upperFirst}}
            </div>
            <div class="text-grey" translate="KITCHENS.SETTINGS.DEADLINES.PICKUP_TIME">Pickup time</div>
            <div class="mb-2">{{ deadline.pickup_time | shortTime:'HH:mm' }}</div>
            <div class="text-grey" translate="KITCHENS.SETTINGS.DEADLINES.DEADLINE_TIME">Deadline time</div>
            <div class="mb-2"> {{ deadline.closing_time | shortTime:'HH:mm' }}</div>
            <div class="weekdays">
              <div class="active">
                {{ weekDaysShort[deadline.closing_day] }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<deadline-form
    [weekDaysShort]="weekDaysShort"
    [weekDays]="weekDays"
    (onSubmit)="formSubmitted($event)"
    #form>

</deadline-form>
