@import '~assets/css/conf';
@import 'menu-row';

.main-inner {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.main-inner-i {
  height: 100%;
  padding: 250px 30px 110px;
  margin: 0 -30px;
}

.kitchen-menu-header {
  height: 250px;
  position: fixed;
  background: white;
  top: 60px;
  left: 342px;
  right: 330px;
  z-index: 3;
  overflow-y: scroll;

  .header-i {
    height: 100%;
    padding: 0 30px;
  }
}

.content {
  padding: 40px 0 100px;
}

.menu-row-heading {
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  img {
    height: 50px;
    flex-basis: 50px;
    max-width: 50px;
    margin-right: 30px;
    @include border-radius(50%);
  }

  .txt {
  }

  .title {
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    color: $gray-dark;
    font-family: $font-bold;

    span {
      border-bottom: 1px solid $gray-dark;
    }

    &:hover {
      span {
        border-bottom-color: transparent;
      }
    }
  }

  .ctrls a + a {
    margin-left: 10px;
  }
}

.top-controls {
  background: white;
  height: 140px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .date-selector {
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-family: $font-bold;

    .circle-arrow {
      margin-right: 20px;
    }
    .date {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .menu-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: right;

    .btn {
      margin-left: 30px;
    }
  }
}

.menu-day {
  height: 100px;
  padding: 0 15px;
  background: #f3f3f3;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  .day {
    font-size: 20px;
  }

  .date {
    color: $gray-text;
  }
  .fa-check {
    display: none;
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 54%;
    transform: translateY(-50%);
  }
  &.active {
    background: $main-green;

    .date {
      color: white;
    }

    .fa-check {
      display: block;
      color: white;
    }
  }

  .scrolled & {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.dish {
  height: 50px;
  border: 1px dashed #e5e5e5;
  color: $gray-text;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
  position: relative;

  &:hover {
    border: 1px solid $gray-dark;
    color: $gray-dark;
  }

  &.dish-added {
    background: #f9f5f0;
    border-style: solid;
  }

  .txt {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.kitchen-menu-footer {
  padding: 0 30px;
  position: absolute;
  height: 110px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, .05);
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.add-category {
  font-size: 20px;
  font-family: $font-bold;
  color: $main-green;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  @include user-select(none);

  i {
    display: block;
    flex-basis: 50px;
    flex-shrink: 0;
    max-width: 50px;
    height: 50px;
    margin-right: 30px;
    border: 1px solid $main-green;
    position: relative;
    text-align: center;
    color: $main-green;
    font-style: normal;
    @include border-radius(50%);

    &:after {
      content: "+";
      font-size: 20px;
      line-height: 50px;
      color: inherit;
    }
  }

  span {
    border-bottom: 1px solid $main-green;
    line-height: 16px;
  }

  &:hover {
    span {
      border-bottom-color: transparent;
    }
  }
}

@media (max-width: $laptop) {
  .kitchen-menu-header {
    left: 230px;
    right: 230px;
  }
  .menu-day .day {
    font-size: 16px;
  }
  .top-controls .date-selector {
    font-size: 18px;
  }
}

@media (max-width: $laptop-sm) {
  .kitchen-menu-header {
    left: 80px;
  }
  .top-controls .menu-settings .btn {
    margin-left: 10px;
  }
}

@media (max-width: $mobile) {
  .kitchen-menu-header {
    left: 0;
    right: 0;
  }
}

@media (max-width: $mobile-sm) {
  .kitchen-menu-header {
    position: unset;
    height: auto;
    overflow: inherit;
    .header-i {
      padding: 0;
    }
  }
  .main-inner-i {
    padding: 0 20px;
  }

  .menu-day {
    .scrolled & {
      box-shadow: none;
    }
  }

  .top-controls {
    height: auto;
    display: block;
    .menu-settings {
      display: block;
      text-align: center;
      padding: 20px 0;
      font-size: 16px;
      .btn {
        margin-left: 0;
        margin-top: 20px;
      }
    }
    .date-selector {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .circle-arrow.circle-arrow-right {
        order: 2;
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $mobile-sm) {
}
