<form [formGroup]="form" *ngIf="state" (submit)="submitForm()" autocomplete="off">
  <div class="popup-wrap">
  <div class="popup">
    <div class="popup-body">
      <div class="form-group v3">
        <input type="password" class="form-control" formControlName="oldPassword">
        <label translate="CONTROLS.OLD_PASSWORD">Old password</label>
      </div>
      <div class="form-group v3">
        <input type="password" class="form-control" formControlName="password">
        <label translate="CONTROLS.NEW_PASSWORD">New password</label>
      </div>
      <div class="form-group v3">
        <input type="password" class="form-control" formControlName="passwordConfirmation">
        <label translate="CONTROLS.PASSWORD_CONF">Password confirmation</label>
      </div>
    </div>
    <footer>
      <button class="btn btn-green btn-big" [disabled]="!form.valid" translate="BUTTONS.SAVE">Save</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a (click)="close()" translate="BUTTONS.CLOSE">Close</a>
    </footer>
  </div>
</div>
</form>
