  <div class="popup-wrap" *ngIf="showValue && activeTab">
  <div class="popup">
    <div class="popup-body-header">
      <h3></h3>
      <div class="popup-tabs">
        <div *ngFor="let tab of tabs" class="tab" (click)="setTab(tab)" [ngClass]="{'active': activeTab == tab}">
          <h3>{{ ( 'KITCHENS.ORDERS_POPUP.' + tab|uppercase)|translate}}</h3>
        </div>
      </div>
    </div>
    <div class="popup-body">
      <div *ngIf="showValue && activeTab == 'PRODUCTS'">
        <div class="dish-item" *ngFor="let item of productsData">
          <img [src]="item.display_url">
          <div class="txt">
            <div><strong>{{item.dish_name}}</strong></div>
            <div class="text-grey">{{item.name}}</div>
          </div>
          <div class="num">{{item.quantity}}</div>
        </div>
      </div>
      <div *ngIf="showValue && activeTab == 'PACKAGING'">
        <div *ngFor="let companyData of packagingData">
          <div class="popup-title mt-2">
            <div class="title">{{companyData.company.name}}</div>
            <div class="text-grey mb-2">{{companyData.company.address}}</div>
          </div>
          <div class="seprtr"></div>
          <div>
            <div class="dish-item" *ngFor="let item of companyData.orders">
              <img [src]="item.display_url">
              <div class="txt">
                <div><strong>{{item.dish_name}}</strong></div>
                <div class="text-grey">{{item.name}}</div>
              </div>
              <div class="num">{{item.quantity}}</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showValue && activeTab == 'ABOUT'">
        <div class="mb-3">
          <!-- <img [src]="companyInfoData.company_info.display_url"> -->
          <img class="company-img" src="http://www.fillmurray.com/200/200">
          <div class="company-name">{{companyInfoData.company_info.name}}</div>
        </div>
        <div class="mb-3">
          <h4 translate="KITCHENS.CATERING_DETAILS">Catering details</h4>
          <div class="text-grey">
            <div>{{companyInfoData.details.address}}</div>
            <div>{{companyInfoData.details.date | dayMonth}} {{companyInfoData.details.start_time}} - {{companyInfoData.details.end_time}}</div>
            <div>{{companyInfoData.details.comment}}</div>
          </div>
        </div>
        <div class="mb-3">
          <h4 translate="KITCHENS.COMPANY_INFO">Company info</h4>
          <div class="text-grey">
            {{companyInfoData.company_info.full_address}}
            <div>{{companyInfoData.company_info.phone}}</div>
            <div>{{companyInfoData.company_info.email}}</div>
          </div>
        </div>
        <div class="mb-3">
          <h4 translate="CONTROLS.CONTACT_PERSON">Contact person</h4>
          <div class="text-grey">
            <div>{{companyInfoData.contact_person.name}}</div>
            <div>{{companyInfoData.contact_person.phone}}</div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div *ngIf="activeTab != 'ABOUT'">
        <div (click)="printList()" class="btn btn-big" translate="KITCHENS.BUTTONS.PRINT" [ngClass]="{'btn-green': deadlinePassed, 'btn-gray': !deadlinePassed }">Print</div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <a (click)="cancelPopup()" translate="BUTTONS.CLOSE">Close</a>
    </footer>
  </div>
</div>
