@import '~assets/css/conf';

// SLCT-CONTROL
.slct-control{
  height: 46px;
  padding: 3px 0;
  position: relative;
  border-bottom: 1px solid #eaeaea;
  line-height: 1.2;
  cursor: pointer;
  @include user-select(none);
  .title{
    font-size: 16px;
    font-family: $font-bold;
    text-transform: uppercase;
  }
  .selected-items{
    color: $gray-text;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 82%;
  }
  .fa-caret-down{
    position: absolute;
    right: 15px;
    top: 20px;
  }
}

.slct-control-popover{
  width: 270px;
  background: white;
  padding: 30px;
  max-height: 380px;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 3;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);

  input{
    width: 100%;
    height: 50px;
    padding: 0 10%;
    line-height: 50px;
    border: 1px solid #4a4a4a;
    font-size: 14px;
    outline: none;
  }

  &:before {
    content: "";
    position: absolute;
    top: -9px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 9px 8px;
    border-color: transparent transparent #ffffff transparent;
  }

  .slct-control-content{
    max-height: 210px;
    margin-left: -30px;
    margin-right: -30px;
    overflow-x: hidden;
    overflow-y: auto;


    .custom-checkbox{
      padding: 7px 30px;
      width: 100%;
      label{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
      &:not(.checked) .txt {
        opacity: .5;
      }
      .fa-check-circle{
        order: 2;
        margin-left: auto;
      }

      &:hover{
        background: #f3f3f3;
      }
    }
  }

  &.calendar-wrap{
    width: 417px;
    max-height: 424px;
    padding: 0;

    .range-calendar{
      border: 0!important;
    }
  }
}

.grouping{
  &-item{
    padding: 13px 20px;
    border: 1px solid #ccc;
    position: relative;
    &.checked{
      background: #f3f3f3;
    }
    .custom-checkbox,
    .custom-checkbox label{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .fa-check-circle{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    +.grouping-item{
      margin-top: 8px;
    }
  }
  &-tags{
    margin: 3px 0;
  }
  &-tag{
    min-width: 17px;
    min-height: 17px;
    padding: 2px 4px 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    @include border-radius(3px);
    &:nth-child(1){background: $breakfast;}
    &:nth-child(2){background: $lunch;}
    &:nth-child(3){background: $dinner;}
  }
}

@media (max-width: $mobile) {
  .slct-control{
    &:first-child{
      margin-top: 2px;
    }
    &.grouping-options{
      .slct-control-popover{
        top: 30px;
      }
    }
  }
  .slct-control-popover {
    max-height: 350px;
    padding: 15px;
    .slct-control-content {
      max-height: 190px;
    }
    &.calendar-wrap{
      width: 300px;
      right: -10px;
    }
  }
  .grouping-item {
    padding: 5px 20px;
    & + .grouping-item {
      margin-top: 3px;
    }
  }
}
