@import '~assets/css/conf';


.notification-item.rating {
  font-size: 14px;
  height: auto;
  line-height: 1.3;
}

.announcement-i {
  padding: 0 0 10px 90px;
  position: relative;

  p {
    color: $gray-text;
  }

  .img {
    height: 50px;
    left: 10px;
    position: absolute;
    width: 50px;
    @include border-radius(50%);

    img {
      height: 50px;
      width: 50px;
      @include border-radius(50%);
    }
  }

  .txt {
    .date-time {
      font-family: $font-bold;
      font-size: 12px;
    }
  }
}
