<user-menu>
  <div class="heading">
    <ul class="heading-selector" *ngIf="!width.isMobile()">
      <li>
        <a [routerLink]=" ['info'] " routerLinkActive="router-link-active" translate="COMPANY.SETTINGS.GENERAL_INFO">GENERAL INFO</a>
      </li>
      <li>
        <a [routerLink]=" ['suspend'] " routerLinkActive="router-link-active" translate="COMPANY.SETTINGS.SUSPEND_PLANNER">SUSPEND PLANNER</a>
      </li>
      <li>
        <a [routerLink]=" ['admin-profile'] " routerLinkActive="router-link-active" translate="COMPANY.SETTINGS.ADMIN_PROFILE">ADMIN PROFILE</a>
      </li>
    </ul>
    <div class="heading-selector-mobile" *ngIf="width.isMobile()">
      <select [(ngModel)]="selectedLink" (change)="goTo($event.target.value)">
        <option [value]="'info'">{{ "COMPANY.SETTINGS.GENERAL_INFO" |translate }}</option>
        <option [value]="'suspend'"> {{"COMPANY.SETTINGS.SUSPEND_PLANNER" | translate}}</option>
        <option [value]="'admin-profile'"> {{"COMPANY.SETTINGS.ADMIN_PROFILE" | translate}}</option>
      </select>
    </div>
  </div>
</user-menu>
<router-outlet></router-outlet>
